.words_test {
    display: block;
    width: 100%;
    min-height: calc(100vh - 140px);
}

.words_test_top {
    display: block;
    width: 100%;
    margin: auto;
}

.words_test_top h1 {
    display: block;
    width: fit-content;
    color: #000000;
    font-size: 80px;
    font-weight: 700;
    margin: 0 auto;
    padding: 80px 0;
}

.words_test_bottom {
    display: block;
    width: 100%;
}

.words_test_bottom_body {
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.words_test_bottom_left,
.words_test_bottom_right {
    display: block;
    width: 350px;
}

.words_test_single {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px auto;
}

.words_test_single_label {
    display: block;
    width: 150px;
    text-align: center;
}

.words_test_single_label p {
    color: #000000;
    font-size: 11px;
    font-weight: 400;
    margin: 0;
    width: 150px;
}

.words_test_single_label h1 {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    width: 150px;
}

.words_test_single input {
    width: 100px;
}

.words_test_single h2 {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    width: 150px;
    text-align: center;
}

@media (max-width: 992px) {
    .words_test {
        min-height: 0;
    }

    .words_test_bottom {
        padding-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .words_test_top h1 {
        font-size: 50px;
        padding: 80px 0;
    }
}